option_settings:
  aws:elb:loadbalancer:
    LoadBalancerHTTPPort: 80
    LoadBalancerPortProtocol: HTTP
  aws:elb:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP
  aws:elb:healthcheck:
    HealthyThreshold: 3
    Interval: 30
    Target: HTTP:80/health
    Timeout: 5
    UnhealthyThreshold: 5
  aws:elasticbeanstalk:environment:
    LoadBalancerType: classic
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 80