option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.17.0
    GzipCompression: true
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:environment:proxy:nginx:
    ProxyReadTimeout: 60
    ProxyConnectTimeout: 60
    ClientMaxBodySize: 10m
    ClientBodyTimeout: 60
    ClientHeaderTimeout: 60